{% extends 'frontend/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="row justify-content-lg-center">
  <div class="col-sm-12 col-md-6 col-lg-4 content header">
    <a class="menu" href="{% url 'frontend:scan' %}"> Tukar Poin </a>
    <a class="menu" href="{% url 'frontend:redeem' %}"> Pencairan Poin </a>
  </div>
</section>
<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content present">
    <p class="hallo">Hallo Sahabat NXP,</p>
    <p class="thank-you">Terima kasih sudah <br /> memilih oli NXP sebagai <br /> produk bengkel mu!</p>
  </div>
</section>
<section class="row ">
  <div class="col-sm-12 col-md-6 col-lg-4 content apreciation">
    <img class="reward-img" src="{% static '/images/reward.png' %}" />
    <p class="reward-text">Sebagai bentuk apresiasi NXP, kamu <br /> akan mendapatkan voucher dari setiap barcode
      yang
      kamu scan.</p>
  </div>
</section>
<section class="row  ">
  <div class="col-sm-12 col-md-6 col-lg-4 content imageinfowrapper">
    <!-- <img class="imageinfo" src="{% static '/images/idr.png' %}" /> -->
    <img class="imageinfo" src="{% static '/images/group_pay.png' %}" />
  </div>
</section>

<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content present">
    <p class="how-to">Ketentuan Mendapatkan E-Wallet</p>
    <p class="how-to-get-reward">1. Scan QR Code yang terdapat pada tutup botol</p>
    <p class="how-to-get-reward">2. Nilai minimal redeem adalah Rp. 10.000,-</p>
    <p class="how-to-get-reward">3. Masuk ke halaman "Redeem Reward", untuk mengetahui jumlah reward dengan mengisi nomor ponsel yang sudah terdaftar </p>
    <p class="how-to-get-reward">4. Nomor ponsel harus sama dengan yang terdaftar pada e-wallet.</p>
    <p class="how-to-get-reward">5. Apabila sudah memenuhi nilai redeem, maka silahkan pilih e-Wallet untuk diproses oleh NXP</p>
    <p class="how-to-get-reward">6. Qr Code hanya bisa 1x scan</p>
    <p class="how-to-get-reward">7. Tidak ada masa expired dalam pengumpulan nilai</p>
    <p class="how-to-get-reward">8. Apabila melakukan penarikan, <br /> dikenakan biaya admin sebesar IDR 1.000,-</p>
  </div>
</section>

<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content fillcontent">
    <p>Silahkan mengisi data dibawah ini</p>
  </div>
</section>


<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content formcontent">
    <form class="my-form" id="formulir-form" method="POST" id="main-contact-form" name="contact-form" method="post"
      action="#">
      {% csrf_token %}

      <div style="position: relative; text-align: center;" id="scannerArea">
        <video id="qr-video" style="display: none"></video>
        <canvas id="videoCanvas" style="align-self: center;"></canvas>
        <div style="justify-content: center; display: flex; margin: 10px 0;">
          <button id="flash-toggle" class="btn-action" style="display: none;">📸 <span id="flash-state">off</span></button>
          <button id="stop-button" class="btn-action">Stop</button>
        </div>
      </div>

      <div class="form-group">
        <label for="serial_number">QR-Code *</label>
        <div>
          <input type="text" name="serial_number" id="serial_number" placeholder="Serial Number" required="required"
            style="width: 77%; float: left">
          <a id="btn-scan-qr">
            <img src="{% static 'images/qr.svg' %}">
            <a>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="dealer_code">Kode Dealer</label>
        <input type="text" name="dealer_code" id="dealer_code" placeholder="Kode Dealer">
      </div> -->
      <!-- <div class="form-group">
        <label for="product">Produk *</label>
        <input type="text" name="product" id="product" placeholder="Nama Produk" required="required">
      </div> -->
      <div class="form-group">
        <label for="mobile_number">Nomor HP *</label>
        <input type="text" name="mobile_number" id="mobile_number" placeholder="Nomor HP" required="required">
      </div>
      <div class="form-group" id="loader">
        <p style="color: gray; text-align: center; width: 100%;">... loading ...</p>
      </div>
      <div id="loaderResult">
        <div class="form-group">
          <label for="name">Nama *</label>
          <input type="text" name="name" id="name" placeholder="Nama" required="required" class="name">
        </div>
        <div class="form-group">
          <label for="dealerName">Nama Bengkel</label>
          <input type="text" name="dealer_name" id="dealerName" placeholder="Nama Bengkel" required="required">
        </div>
        <div class="form-group">
          <label for="dealerAddress">Alamat Bengkel </label>
          <input type="text" name="dealer_address" id="dealerAddress" placeholder="Alamat Bengkel" required="required">
        </div>
        <div class="form-group">
          <button type="submit" class="btn-submit">Kirim Formulir</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content privasi">
    <img class="ENEOS NXP-gray" src="{% static '/images/logo_putih.png' %}" style="width: 20%; margin-bottom: 16px;" />
    <p>Kami menjaga privasi segala bentuk <br /> informasi yang diterima</p>
    <p class="privasi-title">KEBIJAKAN PRIVASI</p>
  </div>
</section>

<section class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 content backto-main">
    <p>Halaman Utama</p>
    <img class="payment-img" src="{% static '/images/back.png' %}" />
  </div>
</section>

<div class="modal fade" id="ModalCenter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body top-body1">
        <img class="image1" src="{% static '/images/icon_big.png' %}" />
        <p class='body-text first'>SELAMAT</p>
        <p class='body-text ' style="text-align: center;">
          Anda mendapatkan hadiah sebesar:</p>
        <span id="rewardPrice" class="reward-value"></span>
      </div>

      <div class="modal-body bottom-body">
        <button type="button" class="btn-close" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalCenter2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body bottom-body">
        <div id="errorMessage"></div>
        <button type="button" class="btn-close" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-banner fade" id="ModalCenter3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body bottom-body">
        <div id="messageModal" style="margin-bottom: 10px">
          <img class="banner" src="{% static '/images/banner.jpg' %}" />
        </div>
        <button type="button" class="btn-close" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
  $('#loader').hide()

  var typingTimer;
  $('#mobile_number').keyup(function () {
    clearTimeout(typingTimer);
    if ($('#mobile_number').val()) {
      $('#loader').show()
      $('#loaderResult').hide();
      typingTimer = setTimeout(doneTyping, 3000);
    }
  });

  function doneTyping() {
    {% comment %} let messageComp = document.getElementById("messageModal");
    let mobileNumber = document.getElementById("mobile_number");
    messageComp.innerHTML = `Pastikan No HP ${mobileNumber.value} terdaftar 
    pada E-Wallet yang akan di redeem, apabila No HP tidak dikenal dan gagal redeem, bukan menjadi tanggung jawab NXP!`; {% endcomment %}
    $('#ModalCenter3').modal('show');
  
    $("#name").val('');
    $("#dealerAddress").val('');
    $("#dealerName").val('');

    $.ajax({
      type: 'POST',
      url: "{% url 'frontend:get_information' %}",
      data: {
        mobile_number: $('#mobile_number').val()
      },
      success: function (response) {
        const user = response?.data?.user;
        if (user.name) {
          $("#name").val(user.name);
          $("#name").attr('readonly', true);
        }

        if (user.dealer_address) {
          $("#dealerAddress").val(user.dealer_address);
          $("#dealerAddress").attr('readonly', true);
        }

        if (user.dealer_name) {
          $("#dealerName").val(user.dealer_name);
          $("#dealerName").attr('readonly', true);
        }

        $('#loader').hide()
        $('#loaderResult').show();

      },
      error: function (response) {
        console.log(response)
        $('#loader').hide()
        $('#loaderResult').show();
      }
    });
  }


  $("#formulir-form").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: 'POST',
      url: "{% url 'frontend:api_scan' %}",
      data: serializedData,
      success: function (response) {
        $('#ModalCenter').modal('show');
        $("#serial_number").val('')
        $("#mobile_number").val('')
        $("#name").val('')
        $("#dealer_code").val('')
        $("#dealerName").val('')
        $("#dealerAddress").val('')
        $("#rewardPrice").html(`Rp. ${response.value},-`)
      },
      error: function (response) {
        let messageComp = document.getElementById("errorMessage");
        error = "Terjadi Kesalahan Server!"
        try {
          errorJSON = JSON.parse(response.responseText);
          error = ""
          for (var key in errorJSON) {
            error += `<p style="color: red;"> ${errorJSON[key][0]}</p>`;
          }
        }
        catch (err) {
          console.log(err)
        }
        messageComp.innerHTML = error;
        $('#ModalCenter2').modal('show');
      }
    });
  });

  // var element = document.getElementById('mobile_number');
  // var maskOptions = {
  //   mask: '+620000000000000'
  // };
  // var mask = IMask(element, maskOptions);

  
</script>

<script type="module">
  import QrScanner from "{% static '/js/qr-scanner.min.js' %}";
  QrScanner.WORKER_PATH = "{% static '/js/qr-scanner-worker.min.js' %}";
  const video = document.getElementById('qr-video');
  const canvas = document.getElementById("videoCanvas");
  const flashToggle = document.getElementById('flash-toggle');
  const flashState = document.getElementById('flash-state');
  document.getElementById("scannerArea").style.display = "none";
  

  // ####### Web Cam Scanning #######
  const scanner = new QrScanner(video, result => {
    document.getElementById("serial_number").value = result;
    document.getElementById("scannerArea").style.display = "none";
    offFlash();
  });

  scanner.hasFlash().then(hasFlash => {
      flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
  });

  const offFlash = () => {
    if (scanner.isFlashOn()) {
        scanner.toggleFlash()
    }
  }

  const updateFlashAvailability = () => {
      scanner.hasFlash().then(hasFlash => {
          flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
      });
  };

  // for debugging
  window.scanner = scanner;
  flashToggle.addEventListener('click', () => {
      scanner.toggleFlash().then(() => flashState.textContent = scanner.isFlashOn() ? 'on' : 'off');
  });

  document.getElementById('btn-scan-qr').addEventListener('click', () => {
      document.getElementById("scannerArea").style.display = "block";
      video.onplay = function() {
        setTimeout(drawImge , 300);
      };
      scanner.start();
  });

  document.getElementById('stop-button').addEventListener('click', () => {
      if (scanner.isFlashOn()) {
        scanner.toggleFlash()
      }
      scanner.stop();
      document.getElementById("scannerArea").style.display = "none";
  });


  function drawImge(){
    var video = document.querySelector("#qr-video");
    var canvas = document.querySelector("#videoCanvas");
    var ctx = canvas.getContext('2d');
    canvas.width = 250;
    canvas.height = 250;
    var scale = 1;
    var vidH = video.videoHeight;
    var vidW = video.videoWidth;
    var top = canvas.height / 2 - (vidH /2 ) * scale;
    var left = canvas.width / 2 - (vidW /2 ) * scale;
    // now just draw the video the correct size
    ctx.drawImage(video, left, top, vidW * scale, vidH * scale);
    setTimeout(drawImge , 100);
  }

</script>
{% endblock extra_js %}