.row {
  max-width: 100% !important;
  margin: 0 !important;
}

.logo-container {
  text-align: center;
  padding: 16px;
  margin: 0 auto;
  display: block;
  float: none;
}

.content {
  background-color: #eb1b24;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  float: none;
}

.content p {
  color: white;
  margin: 0;
}

.present .checklist-img {
  width: 35px;
  margin: 20px 0 16px;
}

.present .hallo {
  font-size: 1.1em;
  margin-bottom: 16px;
}

.present .how-to-get-reward {
  font-size: 1em;
  margin-bottom: 5px;
}

.present .identity {
  font-size: 1.1em;
  margin-bottom: 8px;
  margin-top: 8px;
}

.present .name {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.present .mobile_number {
  text-align: center;
}

.present .reward-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.present .reward-wrapper .reward {
  font-size: 2em;
  font-weight: bold;
  margin-left: 16px;
}

.present .thank-you {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.present .how-to {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.search-content {

}

.search-content .mobile_label {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.header {
  background-color: #dc1b24;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
  
}

.header .menu {
  font-weight: 1.4em;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: white;
  flex: 1;
  font-size: 15px;
  background-color: #e63039;
  margin-left: 6px;
  margin-right: 6px;
  padding: 8px 0;
  border-radius: 8px;
}

.header .menu:hover{
  background-color: #cc1c25;
}

.formcontent {
  background-color: gray;
  min-height: 500px;
  border: none;
}

.formcontent form {
  width: calc(100% - 64px);
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 6px;
}

.search-form .wallet-type {
  margin-bottom: 24px !important;
}


.search-form .form-check {
  margin: 0;
  padding: 2px;
  float: left;
  width: 50%;
}

.search-form .form-check .from-check-wrapper {
  border: 1px solid green;
  border-radius: 4px;
  padding: 16px 16px;
  min-width: 100%;
  margin-bottom: 0px;
  float: left;
  display: block;
  background-color: white;
}
.search-form .form-check .from-check-wrapper .payment-img {
  margin-left: 8px;
  max-width: 60%;
}

.formcontent .btn-submit {
  background-color: #eb1b24;
  color: white;
  border-radius: 30px;
  padding: 16px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 250px;
  margin-top: 40px;
  font-size: 1.2em;
}

.search-form .btn-submit{
  background-color: white;
  color: #eb1b24;
  border-radius: 30px;
  padding: 16px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 250px;
  font-size: 1.2em;
}

.table-wrapper .btn-submit {
  display: block;
  padding: 10px;
  width: 100%;
  color: red;
  border:0;
  margin-top: 10px;
  align-self: center;
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
}

.formcontent .fl-wrap, .search-form .fl-wrap {
  flex: 1;
}

.formcontent .fl-input, .search-form .fl-input {
  margin-bottom: 6px !important;
  padding: 8px;
}

.search-form .search-button{
  background-color: white;
  width: 10%; 
  height: 49px; 
  color: #eb1b24; 
  border: none;
}

.table-wrapper {
  background-color: white;
  color: black;
  padding-bottom: 24px;
}

.table-wrapper p {
  color: black;
}

.table-wrapper .balance-container {
  display: grid;
  grid-template-columns: 21% 21% 21% 22% 15%;
  font-size: 13px;
}

.table-wrapper .balance-container div {
  padding: 6px 2px;
  border-bottom: 0.5px solid rgb(151, 149, 149);
}

.table-wrapper .balance-container.odd div {
  color: white;
  background-color: rgb(173, 172, 172);
}


.privasi {
  padding-top: 16px;
  background-color: gray;
  text-align: center;
}
.privasi .nxp-gray {
  padding: 16px 0;
}
.privasi .privasi-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 16px 0;
}

.apreciation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.apreciation .reward-text {
  margin-left: 20px;
  line-height: 1.5em;
}

.apreciation .reward-img {
  width: 60px;
  height: 60px;
  /* line-height: 1.5em; */
}


.imageinfowrapper {
  text-align: center;
}

.imageinfowrapper .imageinfo {
  max-width: 100%;
  margin-bottom: 8px;
}

.fillcontent {
  padding: 0px 0 100px;
  text-align: center;
}
.fillcontent p {
  font-size: 1.2em;
}

.backto-main {
  background-color: white;
  border-top: 2px solid #eb1b24;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.backto-main p {
  color: #eb1b24;
  font-size: 1.3em;
}

.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer p {
  margin: 0;
}

.modal {
  padding-top: 80px;
  top: 30%;
  padding-left: 8px;
  padding-right: 8px;
}

.modal-banner {
  top: 0%;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100% !important;
}


.modal .modal-dialog {
  max-width: 400px;
}
.modal .top-body1 {
  background-image: url("../images/bg_popup.png");
  text-align: center;
  position: relative;
  min-height: 130px;
}

.modal .top-body1 .image1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -60px;
  max-width: 300px;
  max-height: 100px;
  z-index: 2;
}

.modal .top-body1 .reward-value {
  font-weight: bold; 
  font-size: 20px; 
  color:green;
}


.modal .top-body1 .image2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  max-width: 300px;
  z-index: 2;
}

.modal .top-body1 .body-text.first {
  margin: 30px 0 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.modal .top-body1 .body-text {
  font-size: 14px;
  text-align: left;
  color: green;
}


.modal .bottom-body .btn-submit {
  background-color: #eb1b24;
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 90%;
  margin-top: 8px;
  font-size: 1.2em;
}
.modal .bottom-body .btn-close {
  color: gray;
  background-color: white;
  border: none;
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
  font-weight: bold;
}

/*# sourceMappingURL=mystyle.css.map */

.btn-action {
  background-color: #eb1b24;
  color: white;
  border-radius: 30px;
  padding: 4px 16px;
  border: none;
  display: block;
  margin: 0 16px;
}

.banner {
  max-width: 100% !important;
  height: auto;
}

.expired-wrapper {
  background-color: #ee252f;
  padding-top: 16px;
  padding-bottom: 32px;
}

.warning-wrapper {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.warning-icon {
  width: 20%;
}

.expired-redemption {
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1.5rem;
  text-align: center;
  padding: 16px;
}
