{% extends 'backoffice/base.html' %}
{% load static %}
{% load qr_tags %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box" id="content">
  <div class="box-inner">
    <div class="box-title">
      <h2>Generate QR-Code : (Redeem: {{redeem_count}} New: {{new_count}})</h2>
    </div>
    <div class="box-title">
      <label>GENERATE</label>
      <form method="POST" action="" id="form1">
        <div class="row">
          <div class="col-sm-2">
            <div class="input-group">
              <input type="number" placeholder="Amount" name="amount" class="form-control" >
              </div>
            </div>

            <div class="col-sm-2">
              <input type="submit" id="btn-search-fix-h" class="btn btn-primary" 
                data-toggle="tooltip" data-placement="top" title="1x generate untuk 60 QR-Code" value="GENERATE">
              </input>
            </div>

          </div>
      </form>
    </div>

    <div class="box-title">
      <label>PRINT</label>
      <form method="GET" action="{% url 'backoffice:generate_qrcode:print_barcode' %}" target="print_popup" >
        <div class="row">
          <div class="col-sm-2" ;>
            <div class="input-group">
              <input type="number" name="start" class="form-control" id="start" placeholder="Start">
            </div>
          </div>

          <div class="col-sm-2" ;>
            <div class="input-group">
              <input type="number" name="end" class="form-control" id="end" placeholder="End">
            </div>
          </div>

          <div class="col-sm-2" style="text-align: left;">
            <button type="submit" id="btn-search-fix-h" class="btn btn-primary" onclick="return validate();">
              PRINT
            </button>
          </div>

        </div>
      </form>
    </div>

    <div class="box-title">
      <label>FILTER & EXPORT</label>
      <form method="GET" action="" >
        <div class="row">
          <div class="col-sm-2">
            <div class="input-group">
              <select class="form-control" name="action">
                <option value="filter" {% if filter.action == "filter" %} selected {% endif %} selected>Filter</option>
                <option value="export" {% if filter.action == "export" %} selected {% endif %} >Export CSV</option>
              </select>
            </div>
          </div>

          <div class="col-sm-2" ;>
            <div class="input-group">
              <input type="number" name="start" class="form-control" id="start" placeholder="Start" value="{{ filter.start }}">
            </div>
          </div>

          <div class="col-sm-2" ;>
            <div class="input-group">
              <input type="number" name="end" class="form-control" id="end" placeholder="End" value="{{ filter.end }}">
            </div>
          </div>

          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" 
                name="search" class="form-control" placeholder="Search " value="{{ filter.search }}">
            </div>
          </div>
          

          <div class="col-sm-2">
            <div class="input-group">
              <select class="form-control" name="status">
                <option value="new" {% if filter.status == "new" %} selected {% endif %} selected >New</option>
                <option value="redeem" {% if filter.status == "redeem" %} selected {% endif %}>Redeem</option>
              </select>
            </div>
          </div>

          <div class="col-sm-2" style="text-align: left;">
            <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
              SUBMIT
            </button>
          </div>
        </div>
      </form>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Serial</th>
          <th>Value</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for serial in serials %}
        <tr>
          <th scope="row">{{serial.order}}</th>
          <td>{{ serial.serial_number }}</td>
          <td>{{ serial.value }}</td>
          <td>{{ serial.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="pull-right">
      <p>Page {{ serials.number }} of {{ serials.paginator.num_pages }}</p>
      <nav aria-label="">
        <ul class="pagination">
          {% if serials.has_previous %}
          <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
          </li>
          <li class="page-item"><a class="page-link"
              href="{% relative_url serials.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
          {% endif %}
          <!-- {% for i in serials.paginator.page_range %}
          <li class="page-item"><a class="page-link {% if serials.number == i %}is-active{% endif %}"
              href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
          {% endfor %} -->

          {% if serials.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% relative_url serials.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/loading.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $('#form1').on('submit', function (e) {
      $("#content").loading({
        stoppable: true
      });
      e.preventDefault();
      var form = $(this);
      var url = "{% url 'backoffice:generate_qrcode:generate'%}";
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log(csrftoken)
      $.ajax({
        type: 'post',
        url: url,
        data: form.serialize(),
        headers: {
          'X-CSRFToken': csrftoken
        },
        success: function (data) {
          console.log(data)
          window.location.reload();
          $('#content').loading('stop');
        },
        error: function (error) {
          $('#content').loading('stop');
          alert(error.responseText);
        }
      });
    })
  }(jQuery));

  function validate(){
     var min = parseInt(document.getElementById('start').value);
     var max = parseInt(document.getElementById('end').value);
     if(min > max){
        alert('End mast greter than start');
        return false;
     }
}

</script>
{% endblock %}